useDynLib(icamix, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "par", "plot")
importFrom("stats", "kmeans", "plot.ts")
export(ATRANSDENSITY)
export(CLASSDIFFRATE)
export(EMFASTICAALG)
export(ESTIMATEDMEMBER)
export(plot.EMFASTICAALG)
export(plot.summary.EMFASTICAALG)
export(print.EMFASTICAALG)
export(print.summary.EMFASTICAALG)
export(summary.EMFASTICAALG)
S3method(plot, EMFASTICAALG)
S3method(summary, EMFASTICAALG)
S3method(print, summary.EMFASTICAALG)
S3method(print, EMFASTICAALG)
S3method(plot, summary.EMFASTICAALG)
